<dd class="mt-2">
  <div class="relative">
    <button type="button" class="t-custom-select" aria-haspopup="listbox" aria-expanded="true"
            aria-labelledby="listbox-label"
            (click)="showList = !showList">
      <span class="block truncate" *ngIf="controls.length === 0">Select...</span>
      <span class="block truncate" *ngIf="controls.length > 1">
        {{(controls[0].value | titlecase) + ' and ' + (controls.length - 1) + ' more' }}
      </span>
      <span class="block truncate" *ngIf="controls.length === 1">
        {{(controls[0].value | titlecase)}}
      </span>
      <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
          fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
            clip-rule="evenodd"/>
          </svg>
      </span>
    </button>
  </div>
</dd>

<!-- OVERLAY -->
<div class="overlay" (click)="showList = !showList"
     *ngIf="showList && !disabled && values && values.length"></div>

<dd *ngIf="showList && !disabled && values && values.length" class="t-custom-select-content z-20">
  <div class="relative flex items-start" *ngFor="let c of values; let i = index">
    <div class="flex items-center h-5">
      <input [id]="'c-' + c + i" [name]="'c-' + c + i" type="checkbox" class="t-checkbox cursor-pointer"
             [checked]="has(c)" (change)="toggle(c)">
    </div>
    <div class="ml-3 text-sm">
      <label [attr.for]="'c-' + c + i" class="font-normal text-gray-700 cursor-pointer capitalize">
        {{c}}
      </label>
    </div>
  </div>
</dd>
